<template name="componentSearch">
  <form>
    <div class="position-relative componentSearch">
      <div class=" input-group mb-3">
        <input type="text" class="form-control p-3" name="keyword" placeholder="{{_ 'components.search' 'placeholder'}}">
      </div>
      <button class="btn btn-primary position-absolute top-50 end-0 translate-middle-y me-2 fw-bolder" type="submit"><i class="fal fa-search fa-fw me-1"></i> {{_ 'components.search' 'submit'}}</button>
    </div>
  </form>
</template>