<template name="componentFooter">
  <div class="componentFooter small py-4">
    <div class="container">
      <hr>
      <div class="d-flex justify-content-between flex-fill">

        <a class="brd-logo" data-cy="brd-test-logo" href="#">
          <img src="/assets/images/logo.svg" style="width: 146px;" alt="">
        </a>

        <div class="d-flex fs-5 d-none d-lg-block">
          <a href="https://www.facebook.com/bordo" class="text-dark mx-3 text-decoration-none" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.twitter.com/bordo" data-cy="brd-test-twitter" class="text-dark mx-3 text-decoration-none" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/bordo" data-cy="brd-test-instagram" class="text-dark mx-3 text-decoration-none" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="d-flex flex-no-wrap fs-5 d-lg-none mt-3">
        <a href="https://www.facebook.com/bordo" data-cy="brd-test-facebook" class="text-dark me-3" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com/bordo" data-cy="brd-test-twitter" class="text-dark mx-3" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/bordo" data-cy="brd-test-instagram" class="text-dark mx-3" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</template>